.page-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 30px 10px;
}

/* Titles */
.page-title {
  text-align: center;
  font-size: 3.3em;
  color: #034f84;
  margin-bottom: 5px;
}

.page-subtitle {
  text-align: center;
  color: #666;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.5em;
  word-wrap: break-word; 
}

.section-title {
  font-size: 2em;
  color: #023e73;
  text-align: left;
  border-left: 5px solid #0b7285;
  padding-left: 10px;
  margin-bottom: 0.4em;
  margin-top: 1.1em;
}

.section-intro {
  font-size: 1.3em;
  color: #444;
  line-height: 1.6;
  margin: 0.3em 0;
}

.section-intro + ul {
  margin-top: 0.4em;
  margin-bottom: 1.4em;
}

/* Visualization Layout */
.vis-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
}

.vis-container {
  flex: 1;
  min-width: 48%;
  background: white;
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}

.vis-container-small {
  flex: 1;
  min-width: 30%;
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}

.vis-box {
  width: 100%;
  height: 550px; /* ↓ Make chart smaller here */
}

.vis-box-small {
  width: 100%;
  height: 300px; /* ↓ Make chart smaller here */
}

/* Add spacing for explanation under each chart */
.vis-description {
  margin-top: 10px;
  font-size: 1.3em;
  color: #000000;
  line-height: 1;
  text-align: left;
}

/* Headings inside chart containers */
h3 {
  text-align: center;
  color: #0b7285;
  font-size: 1.2em;
  margin-bottom: 10px;
}